<% include ../../partials/head %>
<% include ../../partials/header %>
<div class="container">
  <div class="jumbotron">
  <h3>Edit <%= list.name %> Category <a href="/categories" class="btn btn-info">Category List</a></h3>
</div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-sm-8">
    	<form method="POST" id="add_form" action="/category-edit-post/<%= list.id %>" enctype="multipart/form-data">
    	  <div class="form-group">
    	    <label for="name">Name <span class="require-class">*</span></label>
    	    <input type="text" class="form-control" id="name" name="name" value="<%= list.name%>" autocomplete="off" data-validation="required">
    	  </div>

    	  <div class="form-group">
    	    <label for="description">Description <span class="require-class">*</span></label>
    	    <textarea class="form-control" id="description" name="description" autocomplete="off" data-validation="required" rows="7"><%= list.description%></textarea>
    	  </div>


         <div class="form-group">
    	    <label for="status">All Category</label>
    	    <input type="checkbox" id="status" name="status" autocomplete="off" value="ALL"
          <% if(list.status=="ALL"){%>
          checked
          <%}%>
          >
    	  </div>

        <div class="form-group">
    	    <label for="description">Category Image</label>
          <input type="file" class="form-control" name="category_image" id="imgInp" >
          </br>
          <% if(list.image){%>
          <img id="blah" src="/uploads/categories/images/<%= list.image %>" alt="your image" height="80" />
          <%} else if(list.image=='' || list.image==null){%>
              <img id="blah" src="/uploads/no_image/productNoImage.jpeg" alt="your image" height="80" />
            <%}%>
    	  </div>
        <div class="form-group">
    	  <button type="submit" class="btn btn-success">Edit</button>
    	  <button type="reset" class="btn btn-danger">Reset</button>
      </div>
    	</form>
    </div>
  </div>
  </div>
</div>
<% include ../../partials/footer %>
<script>
  $.validate();
  $('#my-textarea').restrictLength( $('#max-length-element') );

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        $('#blah').attr('src', e.target.result);
      }

      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#imgInp").change(function() {
    readURL(this);
  });
</script>
